<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="css/contact.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/git image/android-chrome-192x192.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title> PropertyExpert.Com </title>
</head>

<body style="user-select: none !important;">
    <div style="height: 65px;">
        <%- include ("navbar.ejs") %>
    </div>
    <div class="container">
        <div class="login-content">
            <form action="/contact" method="POST" autocomplete="off">
                <img src="/images/Reddit-F/<%=userPhoto%>" onerror="this.src='/images/Reddit-F/d-1.png'">

                <h4 class="title-head">How can we help you ? <%=userName%>..</h4>

                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="div">

                        <input class="input" type="text" name="nameM" id="name" value="<%=userName%>" readonly>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <input type="text" name="userId" id="" value="<%= user %>" hidden>
                        <input type="text" name="phone" id="" value="<%= userPhone %>" hidden>
                        <input type="text" name="userPhoto" value="<%= userPhoto %>" hidden>
                        <input style="text-transform: lowercase;" class="input" type="email" name="emailM" id="email"
                            value="<%=userEmail%>" readonly>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-comment-dots"></i>
                    </div>
                    <div class="div">
                        <h5>Type Message Here...</h5>
                        <input class="input" type="text" name="message" id="message" required>
                    </div>
                </div>
                <input type="submit" class="btn" value="Send">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/mainlog.js"></script>
</body>
<%- include ("footer.ejs") %>
    <% if( typeof success !="undefined" ){ %>
        <script>
            var success = "<%= success %>";
            if (success == "false") {
                swal("Please Enter Valid Mobile Number", "You entered mobile number is not in proper format. Please enter again.", "info");
            }
            else {
                swal("Message Sent", "Your message successfully sent to our servers. Thank You", "success")
                    .then((value) => {
                        if (value == true) {
                            window.location.href = "/"
                        } else {
                            window.location.href = "/"
                        }
                    });
            }
        </script>
        <% } %>
            <!-- <script type="text/javascript" src="js/mainlog.js"></script> -->
            <script src="../jq/jquery.js" type="text/javascript"></script>
            <script src="../js/bootstrap.js" type="text/javascript"></script>
            <!--jq cnd link-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <!--custom js link-->
            <script src="js/main.js"></script>

</html>