<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CONTACT US</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<!--===============================================================================================-->
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<style>
		nav {
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
		}

		.lol {
			width: 100%;
			min-height: 0vh;
			margin-bottom: 0;
			padding: 15px;
			background: rgba(132, 106, 221, 0.9);
			text-align: center;
			font-size: 1.9rem;
			font-family: 'Balsamiq Sans', cursive;

		}

		.logoo {
			color: rgb(0, 0, 0);
			font-family: 'Reggae One', cursive;
			font-weight: 800;
			padding-left: 40px;
			font-size: 2rem;
		}

		.logoo span {
			color: var(--red);
			font-family: 'Reggae One', cursive;
		}
	</style>
	<!--===============================================================================================-->
</head>

<body>
	<!-- <div class="topside">

		<a class="navbar-brand p-2 navlogo" href="#">DEV REAL ESTATE</a>

		<a class="navbar-brand float-right" href="#"><i class="fas fa-phone" aria-hidden="true"></i> CALL NOW : +91
			8521479630</a>


	</div> -->

	<nav style="padding: 20px 5px;" class="navbar navbar-expand-lg navbar-light bg-light sticky-top ">
		<a href="/" style="cursor: pointer;"><h2 class="logoo">Property<span>Expert</span></h2></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav mr-auto">

			</ul>
			<li class="nav-item active">
				<a style="font-family: 'Balsamiq Sans', cursive; font-size: 1.5rem;" class="nav-link" href="/">Home
					<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a style="font-family: 'Balsamiq Sans', cursive; font-size: 1.5rem;" class="nav-link" href="/aboutmore">About</a>
			</li>
			<li class="nav-item">
				<a style="font-family: 'Balsamiq Sans', cursive; font-size: 1.5rem;" class="nav-link" href="/contact">Contact
					Us</a>
			</li>
			
			
			<li class="nav-item">
				<a href="/user">
					<button type="button" id="user_btn_contact" onclick="userId('?_id=<%= user %>&userName=<%= userName %>')">
						<img src="/images/Reddit-F/<%=userPhoto%>" onerror="this.src='/images/Reddit-F/d-1.png'">
					</button>
                </a>
			</li>


		</div>
	</nav>

	<div class="bg-contact100" style="background-image: url('images/bg-01.jpg');">


	</div>
	<div class="container-contact100">
		<div class="wrap-contact100 ">
			<div class="contact100-pic js-tilt" data-tilt>
				<img src="/images/Contact us by phone_ 877-313-8601 Address_ Zillow, Inc. Attn_ Brokerage Operations 1301 Second Avenue, Floor 31 Seattle, WA 98101.png"
					alt="IMG">
			</div>
			<form action="/contact" method="POST" class="contact100-form validate-form" autocomplete="off">
				<span class="contact100-form-title">
					Get in touch
				</span>
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<input class="input100" type="text" name="nameM" placeholder="Name" value="<%=userName%>" readonly>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Valid email is required: abc246@gmail.com">
					<input class="input100" type="text" name="phoneM" placeholder="email" value="<%=userEmail%>" readonly>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
				</div>



				<div class="wrap-input100 validate-input" data-validate="Message is required">
					<textarea class="input100" name="message" placeholder="Message"></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit">
						Send
					</button>
				</div>
			</form>
		</div>
	</div>
	</div>


</body>


<!--===============================================================================================-->
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/tilt/tilt.jquery.min.js"></script>
<script>
	$('.js-tilt').tilt({
		scale: 1.1
	})
</script>
<!--===============================================================================================-->
<script src="/js/main2.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-23581568-13');
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<% if( typeof success !="undefined" ){ %>
	<script>
		var success = "<%= success %>";
		if (success == "false") {
			swal("Please Enter Valid Mobile Number", "You entered mobile number is not in proper format. Please enter again.", "info");
		}
		else {
			swal("Message Sent", "Your message successfully sent to our servers. Thank You", "success")
				.then((value) => {
					if (value == true) {
						window.location.href = "/"
					} else {
						window.location.href = "/"
					}
				});
		}
	</script>
	<% } %>

<!-- {{!--
<script src="../jq/jquery.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script> --}} -->

</html>