<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mod-home.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="/css/prop-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Admin Panel - Homes Data</title>

</head>

<body>
    <section class="property" id="property">
        <div class="container-main">

            <div class="head">
                <h1>Homes</h1>
                <h2>Total 2 Homes <span><a href="/database/95s20d0205/homes" target="_blank" rel="noopener noreferrer"> (view in json format)
                        </a></span>OR<span><a href="/database/" target="_self" rel="noopener noreferrer"> (Back To Database) </a></span></h2>
            </div>
            <div class="head2">
                <div class="img-con">
                    <% getHome.forEach(function (home){ %>
                        
                            <div style="background-color: rgb(240, 240, 240);"
                                class="image img-hover-zoom <%= home.BuildingInformation.home_Type%>">
                                <div class="form">
                                    <form action="/database/users/delete" method="POST">
                                        <button title="Are You Sure Want to delete  <%= home.UserInformation.owner_name%>'s home record ?" class="trash" type="button" onclick="userId('?_id=<%= home._id %>')"> <i class="fas fa-trash"></i> </button>
                                        </form>
                                </div>
                                <img src="/images/Reddit-F/<%=home.PropertyImages.first_image%>"
                                    onerror="this.src='/images/property/1.jpg'"
                                    alt="images doesn't save long-term. Heroku's filesystem is ephemeral: any changes you make will be lost the next time your dyno restarts, which happens frequently (at least once per day).">

                                <p class="building-name" style="text-decoration: underline !important;">
                                    <%= home.UserInformation.owner_name%>'s home
                                </p>
                                <p>
                                    <%=home.BuildingInformation.sellOrRent%> Amount: <i class="fas fa-rupee-sign"></i>
                                        <%=home.BuildingInformation.offered_at%>
                                </p>
                                <div class="conatiner">
                                    <p class="glass">
                                        <%= home.BuildingInformation.home_Type%>
                                    </p>
                                    <p class="glass">
                                        <%=home.BuildingInformation.sq_ft%> sq.ft
                                    </p>
                                    <p class="glass"> location :<%= home.BuildingInformation.Location.district_name %>,
                                            <%= home.BuildingInformation.Location.state_name%>
                                    </p>
                                </div>
                                <div class="stick_to_bo">
                                    <a class="view" href="/home?h_id=<%= home._id %>">View Full Details </a>
                                </div>

                            </div>
                     
                        <% }) %>
                        <% if( getHome == 0){ %>
                            <div id="no_data" class="no_data hidden">
                                <i class="far fa-sad-tear"></i>
                                <p>Sorry! No Data Found.</p>
                            </div>
                            <% } %>
                </div>
            </div>

        </div>
    </section>

</body>
<script>
    function userId(str2) {
    var inputString2 = str2;
    // window.location.href = "/homeInterest"+inputString;
    var href2 = "/database/homes/delete" + inputString2 ;
    console.log(href2)
    window.location.href = href2;
  }
</script>
</html>