<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="/css/prop-style.css">
    <link rel="stylesheet" href="/css/databaseNav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Admin Panel - Homes Data</title>

    <style>
        .container-main {
            width: 90%;
            margin: 1% 0% 0% 5%;
            height: max-content;
        }

        .container-main .head {
            background-color: rgb(238, 67, 101);
            padding: 15px;
            text-align: center;
            border-radius: 20px 20px 0px 0px;
        }

        .container-main .head h1{
            color: #ffffff;
    font-size: 3rem;
        }
        .container-main .head h2{
            color: #ffffff;
    font-size: 2rem;
        }
        .container-main .head h2 span {
            color: #ffffff;
    font-size: 1.5rem;
        }

        .container-main .head2 {
            background-color: rgb(241, 241, 238);
            border-radius: 0px 0px 15px 15px;

        }
        .form {
            position: relative;
        }
        .form .trash {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 2rem;
            color: red;
            border-radius: 10px;
            padding: 5px;
            border: 2px solid rgb(255, 0, 0);
            cursor:pointer;
        }
        .form .trash:hover {
            background-color: black;

        }

    </style>

</head>

<body>
    <section class="property" id="property">
        <div class="container-main">

            <div class="head">
                <h1>Homes</h1>
                <h2>Total 2 Homes <span><a href="#" target="_blank" rel="noopener noreferrer"> (view in json format)
                        </a></span></h2>
            </div>
            <div class="head2">
                <div class="img-con">
                    <% getHome.forEach(function (home){ %>
                        
                            <div style="background-color: rgb(240, 240, 240);"
                                class="image img-hover-zoom <%= home.BuildingInformation.home_Type%>">
                                <div class="form">
                                    <form action="/database/users/delete" method="POST">
                                        <button title="Are You Sure Want to delete  <%= home.UserInformation.owner_name%>'s home record ?" class="trash" type="button" onclick="userId('?_id=<%= home._id %>')"> <i class="fas fa-trash"></i> </button>
                                        </form>
                                </div>
                                <img src="/images/Reddit-F/<%=home.PropertyImages.first_image%>"
                                    onerror="this.src='/images/property/1.jpg'"
                                    alt="images doesn't save long-term. Heroku's filesystem is ephemeral: any changes you make will be lost the next time your dyno restarts, which happens frequently (at least once per day).">

                                <p class="building-name" style="text-decoration: underline !important;">
                                    <%= home.UserInformation.owner_name%>'s home
                                </p>
                                <p>
                                    <%=home.BuildingInformation.sellOrRent%> Amount: <i class="fas fa-rupee-sign"></i>
                                        <%=home.BuildingInformation.offered_at%>
                                </p>
                                <div class="conatiner">
                                    <p class="glass">
                                        <%= home.BuildingInformation.home_Type%>
                                    </p>
                                    <p class="glass">
                                        <%=home.BuildingInformation.sq_ft%> sq.ft
                                    </p>
                                    <p class="glass"> location :<%= home.BuildingInformation.Location.district_name %>,
                                            <%= home.BuildingInformation.Location.state_name%>
                                    </p>
                                </div>
                                <div class="stick_to_bo">
                                    <a class="view" href="/home?h_id=<%= home._id %>">View Full Details </a>
                                </div>

                            </div>
                     
                        <% }) %>
                </div>
            </div>

        </div>
    </section>

</body>
<script>
    function userId(str2) {
    var inputString2 = str2;
    // window.location.href = "/homeInterest"+inputString;
    var href2 = "/database/homes/delete" + inputString2 ;
    console.log(href2)
    window.location.href = href2;
  }
</script>
</html>