<header>
  <div class="header-1">
    <a href="/" class="logo"><span>Dev</span> Real Estate</a>
    <h3 class="call">CALL NOW : +213-515-245-52</h3>
  </div>
  <div id="header-2" class="header-2">

    <div id="menu" class="fas fa-house-user" style="color: black;"></div>
    <!-- <nav class="navbar"> -->
      <ul>

        <div class="mainLogo">
          <a href="/" class="Mainlogo"><span>Property</span>Experts</a>

        </div>

      </ul>
    <!-- </nav> -->
    <div class="demo">
  
      <div class="share">
        <ul>  
          <nav class="navbar">
            <ul>
              
              <div class="navbarli style_nav_icon">
                <a href="/">
                  <li> <i class=" ico fas fa-home"></i> </li>
                  <li><i class="fas fa-home icons"></i> Home</li>
                </a>
              </div>
                <div class="navbarli style_nav_icon">
                  <a href="/properties">
                    <li> <i class="ico fas fa-building"></i> </li>
                    <li><i class="fas fa-building icons"></i> property</li>
                  </a>
                </div>
                <div class="navbarli style_nav_icon">
                  <a href="/contact">
                    <li> <i class=" ico fas fa-headset"></i> </li>
                    <li><i class="fas fa-headset icons"></i> contact us</li>
                  </a>
                </div>
              </ul>
              
            </nav>
            <% if( typeof user != 'undefined' ){ %>
              <div class="navbarli style_nav_icon">
                <!-- <a href="/user" type="butt" onclick="userId('?_id=<%= user %>&userName=<%= userName %>')"> -->
                  <a>
                <button type="button" id="user_btn" onclick="userId('?_id=<%= user %>&userName=<%= userName %>')">
                  <img src="/images/<%=userPhoto%>" onerror="this.src='/images/1.png'">
                </button>
                </a>
              </div>
              <% } %>
             <% if( typeof user == 'undefined' ){ %>
              <div id="menuz" class="fas fa-sign-in-alt style_nav_icon" style="cursor: pointer;">
      
                <li> <a href="/login" style="color: black; cursor: pointer;">Login</a></li>
              
          </div>
              <% } %>
          </ul>
      </div>
    </div>
</header>

<script>

function userId(str2) {
    var inputString2 = str2;
    // window.location.href = "/homeInterest"+inputString;
    var href2 = "/user" + inputString2 ;
    console.log(href2)
    window.location.href = href2;
  }

</script>